.movieInfo-container{
   display: flex;
   margin-bottom: 20px;
}

h2{
    margin-bottom: 10px;
    
}


.movieInfo-backdrop{
    background-size: cover!important;
    /* width: 100%; */
    height: auto;
    padding: 30px 40px;
    background-position: 50%!important;

}

.movieInfo-poster{
    padding-right: 30px;
    width: 250px;
    /* height: 350px; */
}

.movieInfo-section{
    background: rgba(0,0,0,.8);
    padding: 20px 30px;
    border-radius: 20px;
    display: flex;

}

.movieInfo-secondContainer{
    display: flex;
    flex-direction: row;
}
.movieInfo-vote{
    margin: 0px;
    padding-right: 10px;
}

.movieInfo-votePadding{
    border: 1px solid transparent;
    padding: 2px;
}

.movieInfo-genres{
    padding-right: 10px;
}
.movieInfo-votePadding.green{
    background-color: green;
    font-weight: bolder;
}

.movieInfo-votePadding.orange{
    background-color: orange;
    font-weight: bolder;
}

.movieInfo-votePadding.red{
    background-color: red;
    font-weight: bolder;
}
.movieInfo-tagline{
    font-style: italic;
}
.movieInfo-overview{
    text-align: justify;
    font-weight: 500;

}
.movieInfo-homebtn{
    width: 90%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    text-decoration: underline;
}

.movieInfo-details{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.budget{
    margin-right: 15px;
}

