.movieInfo-container{
   display: flex;
   margin-bottom: 20px;
   width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.h2-margin, .h3-margin{
    margin-top: 12px;
    margin-bottom: 10px;
}

.movie-title{
    font-size: 22px;
}

.movieInfo-backdrop{
    height: auto;
}

.movieInfo-poster{
    padding-right: 30px;
    width: 250px;
    height: 370px;
}

.movieInfo-section{
    background: rgba(128, 128, 128,0.2);
    padding: 20px 30px;
    border-radius: 20px;
    display: flex;

}

.movieInfo-secondContainer{
    display: flex;
    flex-direction: row;
    font-size: 14px;
}
.movieInfo-vote{
    margin: 0px;
    padding-right: 10px;
}

.movieInfo-votePadding{
    border: 1px solid transparent;
    padding: 2px;
}

.movieInfo-genres{
    padding-right: 10px;
}
.movieInfo-votePadding.green{
    background-color: green;
    font-weight: bolder;
    border-radius: 5px;
}

.movieInfo-votePadding.orange{
    background-color: orange;
    font-weight: bolder;
    border-radius: 5px;
}

.movieInfo-votePadding.red{
    background-color: red;
    font-weight: bolder;
    border-radius: 5px;
}
.movieInfo-tagline{
    font-style: italic;
    font-size: 12px;
font-weight: 300;
}
.movieInfo-overview{
    text-align: justify;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.7;
    margin-right: 120px;

}

.movieInfo-overview_title{
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}
.movieInfo-homebtn{
    width: 90%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    text-decoration: underline;
}

.movieInfo-details{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.budget{
    margin-right: 15px;
   
}
.revenue{
    font-size: 16px;
    font-weight: bold;
}
.streaming, .director{
    font-size: 16px;
    font-weight: bold;
}


.director-margin{
    margin-bottom: 12px;
}

