.movieCard-wrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px;
}

.movieCard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
}

.moviePoster{
width: 90%;
height: 90%;
transition: transform .2s;
border-radius: 10px;

}
.moviePoster:hover{
    transform: scale(1.1);
}

.moviePosterWrapper{
    text-align: center;
}
.cardName{
    font-size: 32px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}

a:link{
    text-decoration: none;
}

.card-text{
    font-weight: bolder;
    color: #000000;
    padding: 0px 10px;
}

.card-text:hover{
    color: #01b4e4
}

.wrapper-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-text.green{
    color: green
}

.card-text.orange{
    color: orange
}

.card-text.red{
    color: red
}