.button-wrapper{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loadmore{
    width: 20%;
padding: 20px;
font-size: 20px;
font-weight: 400;
background-color: #2a79b0;
color: #fff;
border: 1px solid transparent;
border-radius: 10px;
cursor: pointer;
margin-bottom: 30px;
}