.button-wrapper{
    width: 90%;
    margin: 20px auto;
}
.loadmore{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #01b4e4;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}