.search-wrapper{
    width: 90%;
    margin: 0px auto;
}

.search-input{
    background-color: inherit;
    width: 100%;
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    caret-color: #fff;
    color: #fff
}

::placeholder {
    font-weight: bold;
  }

  input:focus{
      outline: none;
  }

  