.search-wrapper{
    padding-right:40px;
}

.search-input{
    background-color: inherit;
    width: 200px;
    border: 1px solid #ccc;
    height: 10px;
    border-radius: 10px;
    padding: 20px;
    font-weight: 300;
    font-size: 16px;
    caret-color: #fff;
    color: #fff;
}

::placeholder {
    font-weight: bold;
  }

  input:focus{
      outline: none;
  }

  